aside.page__left
	ul.main-menu
		li
			a(href="karaoke.html").main-menu__name Караоке Зал
			span.main-menu__desc раскройте свой талант в качестве певца
		li
			a(href="deus.html").main-menu__name Deus Зал
			span.main-menu__desc получите максимум удовольствия от энергичного ритма танца
		li
			a(href="vip.html").main-menu__name VIP Зал
			span.main-menu__desc откройте для себя мир привелегий DEUS Night Club
		li
			a(href="party.html").main-menu__name Вечеринки
			span.main-menu__desc Архив событий