aside.page__right
	ul.main-menu
		li
			a(href="pdf/hookah.pdf").main-menu__name Кальяны
			span.main-menu__desc ощутите аромат и вкус восточных традиций
		li
			a(href="pdf/kitchen.pdf").main-menu__name Кухня
			span.main-menu__desc попробуйте уникальные блюда от нашего Шеф-Повара
		li
			a(href="pdf/bar.pdf").main-menu__name Бар
			span.main-menu__desc насладитесь превосходными напитками в нашем баре
		li
			a(href="contacts.html").main-menu__name Контакты