footer.page__footer
		ul.social
			li.social__item: a(href="https://vk.com/deusclub32", target="blank")
				span.icon.icon-vk
			li.social__item: a(href="https://www.instagram.com/deusclub32/", target="blank")
				span.icon.icon-instagram