header.page__header.main-header
	.main-header__logo
		a(href="/"): img(src="img/header-logo.png", alt="")
	.main-header__contacts
		.phone-block
			span.icon-wrap: i.fa.fa-phone
			span +7(4832)37-88-88
		.address-block
			span ул. Урицкого, 9А
			span ул. Урицкого, 9А, Брянск, Брянская обл., 241050
	.time-block 
		ul
			li
				span Пн-Чт:
				span 12:00 - 24:00
			li
				span Пт-Вс:
				span 16:00 - 24:00