extends _template-inner

block main
	.open-menu__wrap
		button.open-menu 
			i.fa.fa-bars
		span Меню
	include includes/aside-left
	include includes/aside-right
	main.page__center
		h2 DEUS ЗАЛ
		p DEUS ЗАЛ - это атмосфера счастья и праздника. Наша ART группа делает все чтобы каждое мгновение проведенное в клубе могло запомниться Вам в самых ярких тонах. Шоу-балет "DEUS" выступает каждые выходные и демонстрирует Вам все п01.jpgрелести GO-GO и Pole dance.
		.gallary
			ul
				li: a(href="img/interier/01.jpg" class="fancybox" data-fancybox-group="gal1"): img(src="img/interier/01.jpg", alt="")
				li: a(href="img/interier/02.jpg" class="fancybox" data-fancybox-group="gal1"): img(src="img/interier/02.jpg", alt="")
				li: a(href="img/interier/03.jpg" class="fancybox" data-fancybox-group="gal1"): img(src="img/interier/03.jpg", alt="")
				li: a(href="img/interier/04.jpg" class="fancybox" data-fancybox-group="gal1"): img(src="img/interier/04.jpg", alt="")
				li: a(href="img/interier/05.jpg" class="fancybox" data-fancybox-group="gal1"): img(src="img/interier/05.jpg", alt="")
				li: a(href="img/interier/06.jpg" class="fancybox" data-fancybox-group="gal1"): img(src="img/interier/06.jpg", alt="")
				li: a(href="img/interier/07.jpg" class="fancybox" data-fancybox-group="gal1"): img(src="img/interier/07.jpg", alt="")
				li: a(href="img/interier/08.jpg" class="fancybox" data-fancybox-group="gal1"): img(src="img/interier/08.jpg", alt="")
				li: a(href="img/interier/09.jpg" class="fancybox" data-fancybox-group="gal1"): img(src="img/interier/09.jpg", alt="")
				li: a(href="img/interier/10.jpg" class="fancybox" data-fancybox-group="gal1"): img(src="img/interier/10.jpg", alt="")
				li: a(href="img/interier/11.jpg" class="fancybox" data-fancybox-group="gal1"): img(src="img/interier/11.jpg", alt="")
				li: a(href="img/interier/12.jpg" class="fancybox" data-fancybox-group="gal1"): img(src="img/interier/12.jpg", alt="")