extends _template-inner

block main
	.open-menu__wrap
		button.open-menu 
			i.fa.fa-bars
		span Меню
	include includes/aside-left
	include includes/aside-right
	main.page__center
		h2 Караоке бар
		p У каждого из нас досуг занимает очень важное место, ведь от его качества будет зависеть и продуктивность нашего труда, а, следовательно, и успешность. И караоке-бар DEUS дает своим гостям возможность погрузиться в совершенно иной мир – в атмосферу таинственного востока, изысканных блюд европейской и японской кухни и полной релаксации в той обстановке, которая будет более близкой по духу именно для вас! Уникальной особенностью бара является его продуманный дизайн, позволяющий гостям поддаться безудержному веселью в основных залах.
	