extends _template-inner

block main
	.open-menu__wrap
		button.open-menu 
			i.fa.fa-bars
		span Меню
	include includes/aside-left
	include includes/aside-right
	main.page__center
		p 10 дкабря Грандиозное открытие клуба DEUS
	